.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 1px;
  background-color: rgb(244, 240, 232);
}
.cardplayer {
  border: solid 1px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.cardplayerBg {
  border: solid 1px;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  background-color: orange;
}
.cardHeader {
  display: flex;
  justify-content: space-around;
}
