.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.cardplayer {
  border: solid 1px;
  background-color: rgb(243, 198, 115);
  padding: 10px;
}
